@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  outline: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 10%;
}

#navHeader {
  background: #282834;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  height: 100px;
}

.header .navbar a {
  font-size: 0.8rem;
  margin-left: 2rem;
  color: white;
  font-size: 1.8rem;
  transition: 0.5s;
}

.header .navbar a:hover {
  color: #43abf0;
}

.contact {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #fff;
  gap: 10px;
}

i {
  width: 25px;
  height: auto;
  color: white;
}

.contact :hover {
  color: #43abf0;
}

.main__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

.logo {
  color: #42a9ed;
}

.main__logo:hover {
  transform: scale(1.2);
  color: #fff;
}

#menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 1245px) {
  section {
    padding: 3rem 2rem;
  }
  html {
    font-size: 50%;
  }
}

@media (max-width: 1005px) {
  section {
    padding: 3rem 5%;
  }
  html {
    font-size: 50%;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: #282834;
    clip-path: polygon(0 0, 100% 0, 100% 0, 1% 0);
    transition: 0.5s;
  }

  .header .navbar a {
    display: block;
    margin: 3rem 0;
  }
  .title {
    flex-direction: column;
    font-size: 2rem;
  }
  .form_input {
    flex-direction: column;
  }
  #menu {
    display: block;
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 535px) {
  section {
    padding: 1rem 3%;
  }
  .main__logo {
    font-size: 1.5rem;
  }

  .header .contact #menu {
    position: fixed;
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

ul {
  list-style-type: none;
}

button {
  width: 20rem;
  height: 2.68rem;
  border: none;
  background-color: #3e9cdc;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45acf0;
}

.promo {
  margin-top: 10rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  height: 450px;
}

.promo_description {
  font-family: 'Lato', sans-serif;
  width: 33.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: left;
  color: #3e9cdc;
  text-transform: uppercase;
  margin-bottom: 3.1rem;
}

.promo_header span {
  color: #000;
  font-family: 'Lato', sans-serif;
}

.promo_subheader {
  font-family: 'Lato', sans-serif;

  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  color: #000;
  margin-bottom: 1.2rem;
}

.promo_li {
  font-family: Lato;
  font-size: 1.25rem;
  text-align: left;
  color: #000;
  margin-bottom: 3.1rem;
}

.promo_li ul {
  margin-bottom: 0.3rem;
}

.promo__img {
  display: flex;
}

.square {
  position: absolute;
  align-items: center;
  display: flex;
  min-width: 42.4rem;
  height: 29rem;
  transform: translateY(-7%) translateX(-7%);
  background: url('assets/Group\ 27.svg') center center/cover no-repeat;
}

.form_order {
  background-color: #282834;
  padding: 5.3rem;
}

.order_title {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}

.order_title span {
  color: #fff;
}
.order_title title {
  flex-direction: column;
  gap: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.3rem;
}

.form_input {
  display: flex;
  font-family: 'Lato', sans-serif;

  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.form_box {
  width: 20rem;
  height: 3rem;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #fff;
  background-color: rgba(255, 255, 255, 0.85);
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-align: left;
  color: #000;
}

.form_box placeholder {
  color: #000;
}

.form_btn {
  width: 20rem;
  height: 3rem;
  color: #fff;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #3e9cdc;
}

.form_btn:hover {
  background-color: #45a2e0;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #3d4050;
  padding-top: 2rem;
}

.footer_info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.6rem;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 10px;
}

#carouselExampleControls {
  margin-bottom: 70px;
}

.square_text span {
  font-weight: bold;
}

.price_title span {
  color: #000;
}

.order_title span {
  color: white;
}

.promo_header span {
  color: #000;
}

.carousel_header span {
  color: #000;
}

.card-title {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: #000;
  line-height: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-bottom: 1px solid black;
}
.info_product {
  display: flex;
  justify-content: space-between;
  gap: 2.8rem;
  margin-bottom: 0.75rem;
}
.price_product {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #3e9cdc;
}
.material_product {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: right;
  color: #000;
}

.price {
  width: 100%;
  background-color: #3d4050;
  padding-bottom: 3rem;
}

.price_title {
  font-size: 2.25rem;
  margin-top: 3.4rem;
}

.price_title span {
  color: #ffffff;
}

.price_descr {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #3e9cdc;
  margin-top: 20px;
}
